@charset "UTF-8";

.l-error {
  h1 {
    @include font-size(10);
  }
  .m-post--not-avaiable {
    margin: 0 0 50px;

    text-align: center;

    p {
      @include font-size(4);
    }
  }
  .grid_3 {
    margin: 0 0 0 70px;
    padding: 15px;

    background: $white;
    @include box-shadow(0 1px 1px #cdcdcd);

    &:first-child {
      margin: 0;
    }
  }
  .m-post__thumb {
    margin: -35px auto 20px;
    width: 130px;
  }
  .m-post__more {
    float: right;
    margin: 20px 0 0;

    font-weight: bold;
  }
}