.l-cols {
  @include groupfix();

  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}
[class^="l-col-"], [class*="l-col-"] {
  margin-top: 1em;
  padding-left: 0;
  width: 100%;

  @include respond-to('smaller-tablet') {
    margin-top: 0 !important;
    float: left;
    padding-left: 2% !important;
  }

  &:first-child {
    @include respond-to('smaller-tablet') {
      padding-left: 0 !important;
    }
  }
}
@for $i from 1 through 12 {
  .l-col-#{$i} {
    @include respond-to('smaller-tablet') {
      @include col($i);
    }
  }
}