@charset "UTF-8";

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  font-size: 62.5%;
}

body {
  font-family: $alternativeFontFamily;
  @include font-size(1.4);
  line-height: 1.5;

  background: url("../images/bg_body.jpg") repeat;
}

blockquote {
  margin: 25px 0 25px 15px;

  border-left: 2px solid $gray;

  color: $gray;
  font-style: italic;
  @include font-size(1.7);

  p {
    padding: 0 0 0 10px !important;
  }
}

p {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}

img {
  max-width: 100%;
}

a {
  color: $maincolor;
  text-decoration: none;
}

ul, ol {
  list-style: circle;
  margin-left: 1.2em;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}